---
---
html {
  box-sizing: border-box;
  font-size: 16px;
  color: #333;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: url(../img/noisy_grid.png);
}

header {
    background: url(../img/header_plane.jpg) no-repeat center center;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

h1, h2 {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 150%;
}

p, li {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  margin: 8px 0;
}

.proj-info {
  margin: 4px 0;
}

a {
  text-decoration: none;
  color: #205e88;
  font-weight: 400;
  -webkit-transition: color 0.5s ease;
     -moz-transition: color 0.5s ease;
       -o-transition: color 0.5s ease;
          transition: color 0.5s ease;
}

a:visited {
  color: darken(#205e88, 20%);
  -webkit-transition: color 0.5s ease;
     -moz-transition: color 0.5s ease;
       -o-transition: color 0.5s ease;
          transition: color 0.5s ease;
}

a:hover {
  color: #10a8ea;
}

footer a {
  color: #60b1f7;
}

footer a:visited {
  color: darken(#60b1f7, 20%);
}

footer a:hover {
  color: #e4e4e4;
}

/* #ad3a20; #474e5d */
footer {
  background-color: #27313d;
  padding: 48px 0;
}

.about {
  color: #e4e4e4;
  margin: 0px auto;
  padding: 26px;
  width: 900px;
  max-width: 90%;
}

.project {
  margin: 48px auto;
  padding: 24px;
  width: 900px;
  max-width: 90%;
  border: 2px solid #606060;
  border-radius: 0 10px 20px 10px;
  -webkit-box-shadow: 4px 4px 3px rgba(71, 83, 94, 0.5);
          box-shadow: 4px 4px 3px rgba(71, 83, 94, 0.5);
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  &:nth-child(odd) {
    background-color: rgba(193, 193, 193, 0.9);
    .project-screenshot {
        border: 12px solid rgba(215, 215, 215, 0.92);
    }
  }

  &:nth-child(even) {
    background-color: rgba(215, 215, 215, 0.92);
    .project-screenshot {
        border: 12px solid rgba(193, 193, 193, 0.9);
    }
  }
}

.project-img {
  @media screen and (max-width: 649px) {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  @media screen and (min-width: 650px) {
    float: left;
  }
}

.project-screenshot {
  width: 400px;
  height: auto;
  max-width: 100%;
  border-radius: 12px;
  margin: 0 auto;
  @media screen and (min-width: 650px) {
    max-width: 250px;
    max-height: 250px;
    margin-right: 24px;
  }
}

.hdr-logo {
  margin: 50px 0;
  max-width: 60%;
}

.ltl-proj {
  margin-left: 16px;
  margin-bottom: 16px;
}

.ltl-proj-name {
  font-weight: 500;
}

.contact-list li {
  list-style: none;
}

.profile-pic {
  float: left;
  border-radius: 50%;
  max-width: 150px;
  margin-right: 25px;
}

@media screen and (max-width: 450px) {
  .profile-pic {
    float: none;
    max-width: 200px;
  }
}

@media screen and (min-width: 675px) {
  .elsewhere {
    margin-top: 0;
    float: left;
  }
  .contact-list li {
    display: inline;
    padding: 0 8px;
    margin-bottom: 0;
    border-right: 1px solid white;
  }
  .contact-list li:last-child {
    border-right: none;
  }
}
