@import url(http://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700,300italic);

html {
  box-sizing: border-box;
  font-size: 16px;
  color: #333;

}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: url(../img/noisy_grid.png);
}

header {
    background: url(../img/header_plane.jpg) no-repeat center center;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

img {
  margin: 50px 0;
}

h1, h2 {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 150%;
}

p {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  margin: 8px 0;
}

.proj-info {
  margin: 4px 0;
}

a {
  text-decoration: none;
  color: #205e88;
  font-weight: 400;
  -webkit-transition: color 0.5s ease;
     -moz-transition: color 0.5s ease;
       -o-transition: color 0.5s ease;
          transition: color 0.5s ease;
}

a:hover {
  color: #10a8ea;
}

footer a {
  color: #60b1f7;
}

footer a:hover {
  color: #e4e4e4;
}

/* #ad3a20; #474e5d */
footer {
  background-color: #27313d;
  padding: 48px 0;
}

.about {
  color: #e4e4e4;
  margin: 0px auto;
  padding: 26px;
  width: 900px;
  max-width: 85%;
}

.project {
  margin: 48px auto;
  padding: 24px;
  width: 900px;
  max-width: 85%;
  border: 2px solid #606060;
  border-radius: 0 10px 20px 10px;
  -webkit-box-shadow: 4px 4px 3px rgba(71, 83, 94, 0.5);
          box-shadow: 4px 4px 3px rgba(71, 83, 94, 0.5);
}

.project:nth-child(odd) {
  background-color: rgba(193, 193, 193, 0.9);
}

.project:nth-child(even) {
  background-color: rgba(215, 215, 215, 0.92);
}

.hdr-logo {
  max-width: 60%;
}
