@import url(http://fonts.googleapis.com/css?family=Fira+Sans:400,700,400italic);

* {
  margin: 0;
  padding: 0;
}

body {
  background: url(../img/noisy_grid.png);
}

header {
    background: url(../img/header_plane.jpg) no-repeat center center;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

img {
  margin: 50px 0;
}

h1 {
  font-family: "Fira Sans", sans-serif;
}

p {
  font-family: "Fira Sans", sans-serif;
}
/* #ad3a20; #474e5d */
footer {
  background-color: #27313d;
  padding: 48px 0;
}

.about {
  color: #e4e4e4;
  margin: 0px auto;
  width: 900px;
  max-width: 85%;
}

.project {
  margin: 48px auto;
  padding: 24px;
  width: 900px;
  max-width: 85%;
  border: 2px solid #3a3a3a;
  border-radius: 20px;
}

.project:nth-child(odd) {
  background-color: rgba(162, 162, 162, 0.8);
}

.project:nth-child(even) {
  background-color: rgba(193, 193, 193, 0.9);
}
