---
layout: default
---

{% for project in site.data.projects.projects %}
<div class="project">
  <h1>{{ project.name }}</h1>
  <p>{{ project.description }}</p>
  <p class="proj-info"><strong>Tools:</strong> {{ project.tools }}</p>
  <p class="proj-info"><strong>View:</strong> <a href="{{ project.projecturl.url }}">{{ project.projecturl.name }}</a></p>
  <p class="proj-info"><strong>Source:</strong> <a href="{{ project.sourceurl.url }}">{{ project.sourceurl.name }}</a></p>
</div>
{% endfor %}

<div class="project">
  <h1>Additional Projects</h1>
  <ul>
{% for project in site.data.projects.littleprojects %}
    <li class="ltl-proj">
    <p><span class="ltl-proj-name">{{ project.name }}</span> —
      <span class="ltl-proj-desc">{{ project.description }}</span>
    </p>
    <p class="proj-info"><strong>View:</strong>
    <a href="{{ project.url.url }}">{{ project.url.name }}</a></p>
    </li>
{% endfor %}
  </ul>
</div>
