<footer>
  <div class="about">
    <h1>About Shaun</h1>
    <img src="img/shaunmeehan.jpg" alt="Shaun and Meehan" class="profile-pic">
    <p>Hi, I'm Shaun from Atlanta, GA. I have skills in UX design, usability testing, and front-end and mobile development. I have an M.S. in Human Computer Interaction from Iowa State University and a B.A. in Psychology and English from Kenyon College. I wrote my first lines of code in BASIC on TRS-80 in fourth grade and hand-coded my first web page in 1997. I completed the Udacity Front-End Web Developer nanodegree in March 2015.</p>
    <p>I love sports (Braves, Falcons, Predators), hanging out with my pup, and craft libations. I'm level 21 in Spanish and level 8 in Irish on <a href="https://www.duolingo.com/6stringbeliever">Duolingo</a>.</p>
    <p class="elsewhere"><strong>Elsewhere:</strong></p>
    <ul class="contact-list">
      <li><a href="https://twitter.com/6stringbeliever"><span class="fa fa-twitter"></span> @6stringbeliever</a></li>
      <li><a href="https://github.com/6stringbeliever"><span class="fa fa-github"></span> 6stringbeliever</a></li>
      <li><a href="https://linkedin.com/in/shaunkelly/"><span class="fa fa-linkedin-square"></span> in/shaunkelly</a></li>
    </ul>
  </div>
</footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-928404-5', 'auto');
  ga('send', 'pageview');

  WebFontConfig = {
  google: { families: [ 'Fira+Sans:300,400,500,300italic:latin' ] }
};
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })();
</script>
